/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

body, input, textarea, button {
  font-family: "Nunito Sans", sans-serif;
}

a {
  color: inherit;
}

.container {
  max-width: 1310px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  background-color: #202C36;
}

header {
  width: 100%;
  height: 80px;
  padding-top: 24px;
  background: #2b3844;
}
header .header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-info .header-question h1 {
  font-weight: 800;
  font-size: 24px;
  color: #fff;
}
header .header-info .header-logo {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
header .header-info .header-logo a {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

main {
  width: 100%;
  background-color: #202C36;
}
main .main-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
  margin-top: 48px;
}
main .main-info .input-search {
  display: flex;
  align-items: center;
  padding-left: 32px;
  -moz-column-gap: 24px;
       column-gap: 24px;
  width: 480px;
  height: 56px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
  background: #2b3844;
  border-radius: 5px;
}
main .main-info .input-search ::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
}
main .main-info .input-search ::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
}
main .main-info .input-filter {
  width: 200px;
  height: 56px;
  display: flex;
  align-items: center;
  -moz-column-gap: 47px;
       column-gap: 47px;
  border-radius: 5px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
  background: #2b3844;
}
main .main-info .input-filter .type-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
  padding-left: 24px;
}
main .regions {
  margin-top: 48px;
  margin-bottom: 45px;
  display: flex;
  -moz-column-gap: 70px;
       column-gap: 70px;
  row-gap: 75px;
  flex-wrap: wrap;
}
main .regions .region {
  border-radius: 5px;
  width: 267px;
  height: 336px;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.03);
  background: #2b3844;
}
main .regions .region .region-info {
  margin-left: 24px;
}
main .regions .region .region-info h2 {
  font-weight: 800;
  font-size: 18px;
  line-height: 144%;
  color: #fff;
  padding-top: 24px;
  padding-bottom: 16px;
}
main .regions .region .region-info .population {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
main .regions .region .region-info .population h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 114%;
  color: #fff;
}
main .regions .region .region-info .population span {
  font-weight: 300;
}

@media (max-width: 970px) {
  .regions {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  header .header-question h1 {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */