@import "./base";

body{
    // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    background-color: #202C36;
}
header{
    width: 100%;
    height: 80px;
    padding-top: 24px ;
    background: #2b3844;
  

    .header-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .header-question{
            h1{
                font-weight: 800;
                font-size: 24px;
                color: #fff;
            }
        }
        .header-logo{
            display: flex;
            align-items:center;
            column-gap: 8px;
            a{
                font-weight: 600;
                font-size: 16px;
                color: #fff;
            }
        } 
    }
}
main{
    width: 100%;
    background-color: #202C36;

    .main-info{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    
        .input-search{
            display: flex;
            align-items: center;
            padding-left: 32px;
            column-gap: 24px;
            width: 480px;
            height: 56px;
            box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
            background: #2b3844;
            border-radius: 5px; 
    }

    .input-filter{
        width: 200px;
        height: 56px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
        background: #2b3844;
    }
}

.regions{
    margin-top: 48px;
   display: flex;
   column-gap: 70px;
   row-gap: 75px;
   flex-wrap: wrap;
    .region{
        
        border-radius: 5px;
        width: 267px;
        height: 336px;
        box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.03);
        background: #2b3844;
           
       
        .region-info{
            margin-left: 24px;
            h2{
                font-weight: 800;
                font-size: 18px;
                line-height: 144%;
                color: #fff;
                padding-top: 24px;
                padding-bottom: 16px;
            }
            
            .population{
                display: flex;
                flex-direction: column;
                row-gap: 8px;
                h3{
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 114%;
                    color: #fff;
                }
                span{
                    font-weight: 300;
                }
            }
        }
    }
}

}
